{{ app_dir }}/logs/*.log {
    daily
    missingok
    rotate 30
    compress
    delaycompress
    notifempty
    create 644 {{ app_user }} {{ app_user }}
    postrotate
        docker-compose -f {{ app_dir }}/docker-compose.yml restart
    endscript
}
